<?xml version="1.0"?>
<config>
    <modules>
        <Inchoo_Search>
            <version>1.0.0.0</version>
        </Inchoo_Search>
    </modules>
    <global>
        <inchoo_search_fulltext>
            <model>catalogsearch/fulltext</model>
        </inchoo_search_fulltext>
        <models>
            <inchoo_search>
                <class>Mage_CatalogSearch_Model</class>
                <resourceModel>catalogsearch_resource</resourceModel>
            </inchoo_search>
            <inchoo_search_resource>
                <class>Mage_CatalogSearch_Model_Resource</class>
                <deprecatedNode>catalogsearch_mysql4</deprecatedNode>
                <entities>
                    <search_query>
                        <table>catalogsearch_query</table>
                    </search_query>
                    <result>
                        <table>catalogsearch_result</table>
                    </result>
                    <fulltext>
                        <table>catalogsearch_fulltext</table>
                    </fulltext>
                </entities>
            </inchoo_search_resource>
        </models>
        <helpers>
            <inchoo_search>
                <class>Mage_CatalogSearch_Helper</class>
            </inchoo_search>
        </helpers>
        <blocks>
            <inchoo_search>
                <class>Inchoo_Search_Block</class>
            </inchoo_search>
        </blocks>
        <index>
            <indexer>
                <inchoo_search_fulltext>
                    <model>catalogsearch/indexer_fulltext</model>
                </inchoo_search_fulltext>
            </indexer>
        </index>
    </global>
    <frontend>
        <routers>
            <inchoo_search>
                <use>standard</use>
                <args>
                    <module>Inchoo_Search</module>
                    <frontName>search</frontName>
                </args>
            </inchoo_search>
        </routers>
        <layout>
            <updates>
                <inchoo_search>
                    <file>inchoosearch.xml</file>
                </inchoo_search>
            </updates>
        </layout>
    </frontend>
</config>
