<?xml version="1.0"?>
<config>
    <modules>
        <Inchoo_Search>
            <version>1.0.0.0</version>
        </Inchoo_Search>
    </modules>
    <global>
        <helpers>
            <inchoo_search>
                <class>Inchoo_Search_Helper</class>
            </inchoo_search>
        </helpers>
        <blocks>
            <inchoo_search>
                <class>Inchoo_Search_Block</class>
            </inchoo_search>
        </blocks>
    </global>
    <frontend>
        <routers>
            <inchoo_search>
                <use>standard</use>
                <args>
                    <module>Inchoo_Search</module>
                    <frontName>search</frontName>
                </args>
            </inchoo_search>
        </routers>
        <layout>
            <updates>
                <inchoo_search>
                    <file>inchoosearch.xml</file>
                </inchoo_search>
            </updates>
        </layout>
    </frontend>
</config>
